<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p> Splurty was created by Marco and Ken, built by <a target="_blank" href= "http://github.com/JefeNelson">Jeffrey</a>. The first of many web applications he plans to build. He joins the many aspiring programmers and developers in their endeavors.
  </p>

  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
</div>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'jeffrey.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Jeffrey Patajo</h2>
    <br />
    <p>
      Jeffrey Patajo is an aspiring web developer and an admin at a PC board manufacturer. Aspiring to become a software engineer through the The Firehose Project and beyond. He is a technology enthusiast with a desire to create efficient and clean code.
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
